.liveSearchProfilePic img{
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
}

.liveSearchText {
    background-color: transparent;
    color: #1e96ca;
}

.search {
    margin: 8px 0 0 15%;
}

.search #search_text_input,
.button_holder {
    border: thin solid #e5e5e5;
}

.search #search_text_input {
    float: left;
    height: 23px;
    outline: 0;
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button_holder {
    background-color: #f1f1f1;
    cursor: pointer;
    float: left;
    height: 23px;
    text-align: center;
    width: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    img {
        margin-top: 1px;
        width: 20px;
    }
}

.search_results,
.search_results_footer {
    border: 1px solid #dadada;
    border-top: none;
}

.search_results {
    background-color: #fff;
    border-bottom: none;
    margin-top: 23px;
}

.search_results_footer {
    padding: 5px 4px 0 4px;
    height: 30px;
    background-color: #20aae5;
    text-align: center;
    a {
        color: #fff;
    }
}

.search_result {
    padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
    input[type="submit"] {
        border: none;
        padding: 7px 12px;
        @include border-radius-five;
        color: #fff;
    }
}